
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

    <div class="container-fluid">

        <h1>QKM</h1>
        <h5>Quarantine Kids Manager</h5>
        <h2>My Kids -- index.handlebars</h2>

        <div class="row">
            <div class="col-lg-12">
                <!-- circle placeholder 1 -->
                <img src="https://api.adorable.io/avatars/285/{{Kid.dataValues.id}}.png alt=!" alt="avatar" class="adorableav">
              <a href="/individualkid">Link to individual kid page</a> 
            </div>
            <p>First time user? Introduce us to your kids!</p>
                 <form action="/api/newKid/" id="kid-form" method="POST"> 
	<input type="text" name="newKid" id="new-kid" placeholder="What's your kid's name?">
	<button type="submit" class="submit-newKid">Add</button>
  </form>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- circle placeholder 2 -->
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="avatar" class="adorableav">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- circle placeholder 3 -->
                <img src="https://api.adorable.io/avatars/285/abott@adorable.png" alt="avatar" class="adorableav">
            </div>
        </div>

    </div>
<!--INSERT FORM FROM 15/14 AUTHORS JOIN BELOW-->
<div class="container">
		<div class="row mt-4">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
      </div>
			<div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/cms">New Post</a>
      </div>
    </div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="author-container">
					<h1>Authors</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Chores</th>
								<th>See Author's Posts</th>
								<th>New Post</th>
								<th>Delete Author</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="author-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="author-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Author</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</d>
		<!-- Custom Script -->
		<script src="js/author.js" type="text/javascript"></script>

    <footer>keep those kids in line</footer>

    <!-- <div class="container ">
        <div class="row mt-4 ">
            <div class="col-md-4 ">
                <div class="form-group ">
                    <select class="custom-select " id="category ">
                <option selected value=" ">All Categories</option>
                <option value="Personal ">Personal</option>
                <option value="Product Review ">Product Review</option>
                <option value="Political ">Political</option>
              </select>
                </div>
            </div>
            <div class="col-md-2 ">
                <a class="btn btn-light " href="/cms ">New Post</a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 blog-container ">
            </div>
        </div>
        </div> -->


    <!-- Custom Script -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js " type="text/javascript "></script>
    <script src="js/blog.js " type="text/javascript "></script> -->

