<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Login</title>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Quarantine Kids Manager</h1>
            <p class="lead">Idle hands are the devil's playthings</p>
        </div>
        <hr>
        <div class="container">
            <form action="auth/login" method="POST">
                <label class="label" for="email">Email</label><input type="email" name="email">
                <label class="label" for="password">Password</label><input type="password" name="password">
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="notUser label">
                    <p><a href="/register">Not registered? Sign up here</a></p>
                </div>
            </form>
        </div>
    </div>

</head>

<body>

</body>

</html>