.list-group-item {
    line-height: 2.5;
}

.label {
    margin: 10px;
}

.notUser {
    margin-left: 20%;
}

.category {
    border-radius: 50px;
    border-style: solid;
    text-align: center;
}


/* styling initially created for index.html BEGIN */

.container-fluid {
    text-align: center;
    justify-content: space-between;
}

body {
    background-color: azure;
}

.row {
    margin: 24px;
}

.adorableav,
#avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

h1 {
    color: teal;
    font-size: 80px;
    font-family: 'Luckiest Guy', cursive;
}

h2 {
    margin: 64px 0px 24px 0px;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Segoe UI Black', 'Gill Sans Ultra Bold', sans-serif;
    color: teal;
}

h5 {
    /* font-family: 'Raleway', sans-serif; */
    color: teal;
}

footer {
    text-align: center;
    margin-top: 132px;
    padding: 36px;
    background-color: cadetblue;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    color: azure;
}


/*styling for nav bar BEGIN*/

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}

.dark-blue-text {
    color: #0A38F5;
}

.dark-pink-text {
    color: #AC003A;
}

.dark-amber-text {
    color: #ff6f00;
}

.dark-teal-text {
    color: #004d40;
}